* {
    margin-top: 0;
}

body {
    padding: 20px;
    font-size: 15px;
    font-family: sans-serif;
    color: #cad2c5;
    background-color: #2f3e46;
    box-sizing: border-box;
}

.top--head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.main--clock {
    text-align: left;
    font-size: 20px;
}

.main--date {
    text-align: right;
    font-size: 20px;
}

.top--container {
    height: auto;
    width: auto;
    background-color: #354f52;
    border-radius: 5px;
    padding: 20px;
}

.dayProgress {
    width: 100%;
    background-color: #52796f;
    border-radius: 5px;
}

.dayBar {
    width: 1%;
    height: 30px;
    background-color: #84a98c;
    border-radius: 5px;
}

.title {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.top--title {
    text-align: center;
    overflow: hidden;
}

.middle--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.left--container {
    margin-top: 20px;
    height: auto;
    width: auto;
    background-color: #354f52;
    border-radius: 5px;
    padding: 20px;
}

.weekProgress {
    width: 100%;
    background-color: #52796f;
    border-radius: 5px;
}

.weekBar {
    width: 1%;
    height: 30px;
    background-color: #84a98c;
    border-radius: 5px;
}

.right--container {
    margin-top: 20px;
    height: auto;
    width: auto;
    background-color: #354f52;
    border-radius: 5px;
    padding: 20px;
}

.mouthProgress {
    width: 100%;
    background-color: #52796f;
    border-radius: 5px;
}

.mouthBar {
    width: 1%;
    height: 30px;
    background-color: #84a98c;
    border-radius: 5px;
}

.bottom--container {
    margin-top: 20px;
    height: auto;
    width: auto;
    background-color: #354f52;
    border-radius: 5px;
    padding: 20px;
}

.yearProgress {
    width: 100%;
    background-color: #52796f;
    border-radius: 5px;
}

.yearBar {
    width: 1%;
    height: 30px;
    background-color: #84a98c;
    border-radius: 5px;
}

.life--count--container {
    margin-top: 20px;
    height: auto;
    width: auto;
    background-color: #354f52;
    border-radius: 5px;
    padding: 20px;
}

input {
    color: #cad2c5;
    color-scheme: dark;
}

.lifeProgress {
    width: 100%;
    background-color: #52796f;
    border-radius: 5px;
}

.days--life {
    padding-top: 15px;
}

.lifeBar {
    width: 0%;
    height: 30px;
    background-color: #84a98c;
    border-radius: 5px;
}